.map-container {
  text-align: center;
}
.version {
  position: absolute;
  z-index: 2;
  bottom: 9px;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 0.75rem;
  display: inline-block;
}

#map {
  position: absolute;
}

h1.logo {
  position: absolute;
  top: 0;
  left: 1rem;
  color: var(--color-dark-text);
  z-index: 1;
  margin: 0;
  padding: 6px 0;
  cursor: default;
  font-size: 1.8rem;
}
@media (max-width: 420px) {
  h1.logo {
    font-size: 1.5rem;
  }
}

.rating-icons img {
  width: 30px;
  height: 30px;
}

@media (min-width: 810px) {
  .version {
    top: 42px;
  }
}
