.version {
  position: absolute;
  z-index: 1;
  bottom: 9px;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 0.75rem;
  display: inline-block;
  height: 1.5rem;
}

.map-container {
  text-align: center;
  height: 100vh;
}

#map {
  position: absolute;
  height: 100vh;
}

h1.logo {
  position: absolute;
  top: 4.5px;
  left: 1rem;
  color: var(--color-dark-text);
  z-index: 1;
  margin: 0;
  padding: 6px 0;
  cursor: default;
  font-size: 1.5rem;
}
@media (max-width: 420px) {
  h1.logo {
    font-size: 1.25rem;
  }
}

.rating-icons img {
  width: 30px;
  height: 30px;
}
