@import "./search.css";

.version {
  position: absolute;
  z-index: 1;
  bottom: 9px;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 0.75rem;
  display: inline-block;
  height: 1.5rem;
}

.map-container {
  position: absolute;
  text-align: center;
  height: 100%;
}

#map {
  height: 100%;
}

img.logo {
  position: absolute;
  top: 0;
  left: 12px;
  max-width: 270px;
  z-index: 1;
  margin: 9px 0 0 0;
}
@media (max-width: 420px) {
  img.logo {
    top: 4.5px;
    max-width: 180px;
  }
}

.rating-icons img {
  width: 30px;
  height: 30px;
}
