.keyword-search-buttons {
  height: 100%;
  top: 54px;
  position: absolute;
  left: 0;
  background: white;
  border: none;
  z-index: 3;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
.keyword-search-buttons.expanded {
  height: auto;
}
.keyword-search-buttons .close {
  display: grid;
  place-items: center;
  position: absolute;
  cursor: pointer;
  margin: 0;
  font-size: 0.9rem;
  background: #ddd;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  color: var(--color-dark-text);
  text-shadow: 2px 2px #eaeaea;
  box-shadow: 1px 1px #666;
  top: 27px;
  right: 15px;
  z-index: 3;
}
.keyword-search-buttons .more,
.keyword-search-buttons .less {
  bottom: 0.75rem;
}

.keyword-search-buttons .open-sidebar {
  padding: 9px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
}

.keyword-buttons {
  padding-top: 66px;
}

/** Search box */
.keyword-search-buttons .keyword-search-container {
  position: absolute;
  padding: 0;
  width: 93%;
}
.keyword-search-buttons .keyword-search-container input,
.keyword-search-buttons .keyword-search {
  min-width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  margin: 6px;
}

@media (max-width: 720px) {
  .keyword-search-buttons {
    top: 48px;
  }
  .keyword-search-buttons .open-sidebar {
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }

  /** Search box */
  .keyword-search-buttons .keyword-search-container {
    width: 81%;
  }
  .keyword-search-buttons .keyword-search-container input,
  .keyword-search-buttons .keyword-search {
    font-size: 1rem;
    margin: 6px;
  }
}
