.profile {
  right: 7.2rem;
}
.profile .icon {
  color: var(--color-blue);
}
.profile .button-text {
  color: var(--color-blue);
  display: none;
  font-size: 1.5rem;
}
/* .profile.authenticated {
  color: var(--color-blue);
} */
.profile.authenticated .button-text {
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 420px) {
  .profile {
    right: 5.4rem;
  }
}
@media (max-width: 630px) {
  .profile.authenticated .button-text {
    display: none;
  }
}
