.profile {
  right: 93px;
}
.profile .icon {
  /* color: var(--color-blue); */
}
.profile .button-text {
  /* color: var(--color-blue); */
  display: none;
  font-size: 1.2rem;
}
/* .profile.authenticated {
  color: var(--color-blue);
} */
.profile.authenticated .button-text {
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 420px) {
  .profile {
    right: 63px;
  }
}
@media (max-width: 630px) {
  .profile.authenticated .button-text {
    display: none;
  }
}
