.place-type-buttons {
  height: 100%;
  top: 87px;
  position: absolute;
  left: 0;
  background: white;
  border: none;
  z-index: 3;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.place-type-buttons.expanded {
  height: auto;
}
.place-type-buttons .nav {
  display: grid;
  place-items: center;
  position: absolute;
  cursor: pointer;
  margin: 0;
  font-size: 0.9rem;
  background: #ddd;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  text-shadow: 2px 2px #eaeaea;
  box-shadow: 1px 1px #666;
  right: 0.75rem;
}
.place-type-buttons .close {
  top: 0.75rem;
}
.place-type-buttons .more,
.place-type-buttons .less {
  bottom: 0.75rem;
}

.place-type-buttons .open-sidebar {
  padding: 12px;
  display: grid;
  grid-gap: 0.5%;
  grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
}

.place-type-buttons button {
  height: 96px;
  width: 96px;
  cursor: pointer;
  background: none;
  text-align: center;
  font-size: 1rem;
  align-self: start;
}
.place-type-buttons button:hover {
  background: #eaeaea;
  color: #666;
}
.place-type-buttons button .icon {
  background: #999;
  border-radius: 50%;
  color: white;
  height: 36px;
  width: 36px;
  padding: 12px;
  display: inline-block;
}
.place-type-buttons button span {
  display: block;
}

@media (max-width: 720px) {
  .place-type-buttons button {
    height: 66px;
    width: 66px;
    font-size: 0.6rem;
  }
  .place-type-buttons button .icon {
    height: 21px;
    width: 21px;
    padding: 9px;
  }
  .place-type-buttons .open-sidebar {
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
}
