.place-type-buttons {
  height: 100%;
  top: 45px;
  position: absolute;
  left: 0;
  background: white;
  border: none;
  z-index: 3;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
.place-type-buttons.expanded {
  height: auto;
}
.place-type-buttons .close {
  display: grid;
  place-items: center;
  position: absolute;
  cursor: pointer;
  margin: 0;
  font-size: 0.9rem;
  background: #ddd;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  text-shadow: 2px 2px #eaeaea;
  box-shadow: 1px 1px #666;
  right: 21px;
  z-index: 3;
}
.place-type-buttons .close {
  top: 21px;
}
.place-type-buttons .more,
.place-type-buttons .less {
  bottom: 0.75rem;
}

.place-type-buttons .open-sidebar {
  padding: 9px;
  /* display: grid;
  grid-gap: 0.5%;
  grid-template-columns: repeat(auto-fit, minmax(12%, 1fr)); */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
}

.keyword-buttons {
  padding-top: 57px;
}
.keyword-buttons button {
  height: 96px;
  width: 120px;
  cursor: pointer;
  background: none;
  text-align: center;
  font-size: 1rem;
  align-self: start;
}
.keyword-buttons button:hover {
  background: #eaeaea;
  color: #666;
}
.keyword-buttons button .icon {
  background: #999;
  border-radius: 50%;
  color: white;
  height: 36px;
  width: 36px;
  padding: 12px;
  display: inline-block;
}
.keyword-buttons button span {
  display: block;
}

/** Search box */
.place-type-buttons .keyword-search-container {
  position: absolute;
  padding: 0;
  width: 90%;
}
.place-type-buttons .keyword-search-container input,
.place-type-buttons .keyword-search {
  min-width: 100%;
  font-size: 1.5rem;
  margin: 6px;
}

@media (max-width: 720px) {
  .place-type-buttons {
    top: 39px;
  }
  .keyword-buttons {
    padding-top: 42px;
  }
  .keyword-buttons button {
    height: 66px;
    width: 66px;
    font-size: 0.6rem;
  }
  .keyword-buttons button .icon {
    height: 21px;
    width: 21px;
    padding: 9px;
  }
  .place-type-buttons .open-sidebar {
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }

  /** Search box */
  .place-type-buttons .keyword-search-container {
    width: 75%;
  }
  .place-type-buttons .keyword-search-container input,
  .place-type-buttons .keyword-search {
    font-size: 1rem;
    margin: 6px;
  }
}
