.map-container {
  text-align: center;
}

#map {
  position: absolute;
}

h1.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-dark-text);
  z-index: 1;
  margin: 0;
  padding: 6px 9px;
  cursor: default;
  font-size: 2.1rem;
}

.search-container {
  position: absolute;
  top: 72px;
  width: 100%;
  z-index: 1;
}
.search input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 810px) {
  .search-container {
    clear: both;
    top: 1rem;
    left: 45%;
    transform: translateX(-50%);
    width: 225px;
    max-width: 30%;
    margin-left: 2%;
    text-align: center;
  }
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

@media (max-width: 809px) {
  .search input {
    margin: auto;
    width: 90%;
  }
}

.rating-icons img {
  width: 30px;
  height: 30px;
}
