.map-container {
  text-align: center;
}

#map {
  position: absolute;
}

h1.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-dark-text);
  z-index: 1;
  margin: 0;
  padding: 6px 9px;
  cursor: default;
  font-size: 2.1rem;
}
@media (max-width: 420px) {
  h1.logo {
    font-size: 1.5rem;
    margin-top: 6px;
  }
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
}
.locate img {
  width: 30px;
  cursor: pointer;
}
@media (max-width: 420px) {
  .locate {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 0;
    padding: auto 0;
  }
}

.rating-icons img {
  width: 30px;
  height: 30px;
}
