.profile-modal .header {
  padding-top: 0 !important;
}
.profile-modal .close {
  display: grid;
  place-items: center;
  margin: 0;
  font-size: 1.5rem;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  float: right;
}
.authenticate button, .authenticate .button {
  padding: 15px 21px;
  font-size: 1rem;
}
