.search-container {
  position: absolute;
  top: 45px;
  width: 100vw;
  z-index: 1;
}
.search input {
  height: 2rem;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0 7.5px;
}

@media (max-width: 420px) {
  .search-container {
    top: 39px;
  }
}
@media (min-width: 810px) {
  .search-container {
    clear: both;
    top: 9px;
    left: 45%;
    transform: translateX(-50%);
    width: 225px;
    max-width: 30%;
    margin-left: 6%;
    text-align: center;
  }
}

@media (max-width: 809px) {
  .search {
    margin: 0 1rem;
    text-align: left;
  }
  .search input {
    width: 96%;
  }
}

