button,
.button {
  border: none;
  padding: 6px 9px;
  background: #ccc;
  color: var(--color-dark-text);
  border-radius: 4.5px;
  cursor: pointer;
}
button.big,
.button.big {
  padding: 12px 21px;
  border-radius: 6px;
  font-size: 120%;
}
button.bigger,
.button.bigger {
  padding: 18px 30px;
  border-radius: 9px;
  font-size: 150%;
}
button.primary,
.button.primary {
  background: var(--color-blue);
  color: white;
}
button.primary:hover,
.button.primary:hover,
button.primary.disabled,
.button.primary.disabled,
button:hover,
.button:hover {
  background: var(--color-light-blue);
  color: white;
}
button.primary.disabled,
.button.primary.disabled {
  cursor: default;
}

.top-button {
  background: rgba(221,221,221,0.75);
  text-shadow: 2px 2px #eaeaea;
  box-shadow: 1px 1px #666;
}
.top-button:hover {
  background: rgba(221,221,221,1);
  color: black;
}

.nav-button {
  position: absolute;
  top: 0;
  background: none;
  border: none;
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
  padding: 0;
  margin-top: 6px;
  height: 38px;
  min-width: 38px;
  text-align: center;
}
.nav-button .icon {
  max-height: 30px;
  cursor: pointer;
  font-size: 2.1rem;
}
.nav-button:hover {
  background: none;
}

@media (max-width: 810px) {
  .nav-button {
    margin-top: 3px;
  }
  .nav-button .icon {
    font-size: 1.62rem;
  }
}

@media (max-width: 420px) {
  .nav-button {
    margin-top: -3px;
  }
  .nav-button .icon {
    font-size: 1.44rem;
    margin-top: 0;
    padding: auto 0;
  }
}
