/* Reusable variables */
:root {
  --color-blue: #2172b4;
  --color-light-blue: #71b7f0;
  --color-dark-grey: rgb(90, 90, 90);
  --color-dark-text: #3b2121;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  font-size: 18px;
  color: var(--color-dark-text);
  background-color: rgb(229, 227, 223);
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.open-sidebar {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "button.css";
