.post-review .close {
  display: grid;
  place-items: center;
  position: fixed;
  right: 12px;
  top: 12px;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
  border-radius: 3px;
  width: 36px;
  height: 36px;
}
.post-review textarea {
  padding: 9px;
  width: 90%;
  height: 90px;
  margin-bottom: 6px;
}
