#post_review_sidebar .sidebar-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 550px;
  padding: 6px 12px;
  text-align: left;
}
#post_review_sidebar .sidebar-controls .close {
  display: grid;
  place-items: center;
  margin: 0;
  font-size: 1.5rem;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  float: right;
}

.post-review textarea {
  padding: 9px;
  width: 90%;
  height: 90px;
  margin-bottom: 6px;
}
