.selected-place-sidebar {
  background-color: white;
  height: 100vh;
  width: 100%;
  /* max-width: 720px;
  min-width: 240px; */
  /* display: grid;
  grid-template-columns: minmax(300px, 99%) 1fr; */
}

.selected-place-sidebar .close {
  display: grid;
  place-items: center;
  position: fixed;
  right: 12px;
  top: 12px;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
  background: #ddd;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  text-shadow: 2px 2px #eaeaea;
  box-shadow: 1px 1px #666;
}

.location-detail {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}
a.location-detail:hover {
  background: #eaeaea;
}
