@import "./buttons.css";

#selected_place_sidebar .sidebar-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 550px;
  padding: 0;
  text-align: left;
}

#selected_place_sidebar .sidebar-controls .share-options {
  background: rgba(0, 0, 0, 0.75);
  padding: 12px;
  min-height: 270px;
}
h3.share-location {
  display: inline-block;
  padding: 9px;
  margin: 0;
  /* background: var(--color-dark-text); */
  color: white;
  /* border-radius: 4.5px; */
  font-size: 1.2rem;
}

.selected-place-sidebar .mask-rating-icons-row {
  height: auto;
  display: grid;
  place-items: center center;
  grid-template-columns: minmax(201px, 45%) 1fr;
}

.place-name-header {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 30px 12px 12px 12px;
}

.location-detail {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}
a.location-detail:hover {
  background: #eaeaea;
}
