.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
}
.locate img {
  width: 30px;
  cursor: pointer;
}
@media (max-width: 420px) {
  .locate {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 0;
    padding: auto 0;
  }
}

