.nav-button .icon {
  max-height: 30px;
  cursor: pointer;
}
.locate {
  right: 1rem;
}
.locate .icon {
  color: #990000;
}
@media (max-width: 420px) {
  .locate {
    margin-right: 0;
    margin-left: 0;
  }
}
