.find-places {
  right: 4.2rem;
}
.find-places .icon {
  color: #006300;
}
.find-places .button-text {
  display: none;
}
.find-places.authenticated {
  color: var(--color-blue);
}
.find-places.authenticated .button-text {
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 420px) {
  .find-places {
    right: 3rem;
  }
}
@media (max-width: 630px) {
  .find-places.authenticated .button-text {
    display: none;
  }
}
