.my-rating {
  margin: 0 0 0 30px;
  font-size: 1.5rem;
  color: white;
  background-color: var(--color-blue);
  padding: 6px 12px;
  border-radius: 4.5px;
  min-width: 90px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}