.post-review .my-rating {
  margin: 9px 0 12px 0;
  font-size: 1.2rem;
  color: white;
  background-color: var(--color-blue);
  padding: 3px 6px;
  border-radius: 4.5px;
  min-width: 72px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
