/* Reusable variables */
:root {
  --color-blue: #2172b4;
  --color-light-blue: #71b7f0;
  --color-dark-grey: rgb(90, 90, 90);
  --color-dark-text: #3b2121;
}

body {
  background-color: beige;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: var(--color-dark-text);
}
button,
.button {
  border: none;
  padding: 6px 9px;
  background: #ccc;
  color: var(--color-dark-text);
  border-radius: 4.5px;
  cursor: pointer;
}
button.primary,
.button.primary {
  background: var(--color-blue);
  color: white;
}
button.primary:hover,
.button.primary:hover,
button.primary.disabled,
.button.primary.disabled,
button:hover,
.button:hover {
  background: var(--color-light-blue);
  color: white;
}
button.primary.disabled,
.button.primary.disabled {
  cursor: default;
}

.nav-button {
  position: absolute;
  top: 0;
  background: none;
  border: none;
  z-index: 1;
  font-size: 2.1rem;
  cursor: pointer;
  padding: 0;
  margin-top: 6px;
  height: 38px;
  min-width: 38px;
  text-align: center;
}
.nav-button .icon {
  max-height: 30px;
  cursor: pointer;
  font-size: 2.1rem;
}
.nav-button:hover {
  background: none;
}

@media (max-width: 420px) {
  .nav-button {
    margin-top: 0;
  }
  .nav-button .icon {
    font-size: 1.5rem;
    margin-top: 0;
    padding: auto 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
