.splash-page {
  min-height: 60vh;
  width: 94%;
  display: grid;
  place-items: center;
  margin: 3% 3%;
  background: white;
  border-radius: 9px;
  font-size: 0.9rem;
}
.splash-page-welcome img {
  width: 30px;
  vertical-align: middle;
}
.splash-page > div {
  width: 90%;
  text-align: center;
}
.splash-page .donate {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.splash-page .disabled::before {
  content: "";
  width: 90%;
  height: 200px;
  position: absolute;
  left: 5%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.78);
  border: 1px dashed #ccc;
  cursor: not-allowed;
}
.splash-page .donate .donate-bitcoin {
  font-size: 0.45rem;
}
.splash-page .donate .donate-bitcoin .bitcoin-icon {
  max-width: 33px;
  margin-top: 12px;
  margin-left: -36px;
  position: absolute;
}
